// Шрифты
$primary-font: 'Lato', sans-serif;

$main-color: #1E212C;
$secondary-color: #424551;
$main-hover-color: #FF3F3A;

// $main-color-hover: #8c30f5;

// $footer-copyright-color: #d9dbe1;

$button-color: #FFFFFF;
$play-btn-color:#FF3F3A;
$play-btn-color-hover: #be1d17;
$button-background:  linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
$button-background-hover:  linear-gradient(55.95deg, #be1d17 0%, #F75E05 100%);


$card-background: #ffffff;

$input-hover: #8c30f5;
$input-svg-hover: #4d04a1;
$checkbox-custom-background: #4d04a1;
// Цвета фонов секций
$advantages-background: #d5fafc;
$cti-background: #2ec5ce;
$footer-background: #0b0d17;
$button-hover-color: #4d04a1;
